<div class="toolbar">
  <button class="btn btn-primary" type="button">Create New</button>
  <button class="btn btn-default" type="button"><i class="fa fa-fw fa-remove text-danger"></i> Cancel</button>
  <button id="id-btn-delete" class="btn btn-danger-outline" type="button"><i class="fa fa-fw fa-trash-o"></i>
    Delete
  </button>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
      Actions <span class="caret"></span></button>
    <ul class="dropdown-menu animated flipInX">
      <li><a href="#"><i class="fa fa-fw fa-print"></i> Print Form</a></li>
      <li><a href="#"><i class="fa fa-fw fa-envelope-o"></i> Send Email</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#"><i class="fa fa-fw fa-file-archive-o"></i> Another Action</a></li>
    </ul>
  </div>

  <div class="pull-right">
    <div class="btn-group" role="group">
      <button class="btn btn-default" type="button"><i class="fa fa-chevron-left"></i>
      </button>
      <button class="btn btn-default" type="button"><i class="fa fa-chevron-right"></i>
      </button>
    </div>

    <div class="btn-group" role="group">
      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      <button class="btn btn-default" type="button"><i class="fa fa-list"></i></button>
      <button class="btn btn-default" type="button"><i class="fa fa-edit"></i></button>
      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
      <button class="btn btn-default" type="button"><i class="fa fa-bar-chart-o"></i></button>
    </div>

  </div>
</div>