<aside id="left-menu" class="sidebar skin">
  <div class="logo-area">
    <a href="index.html" class="avatar">
      <img id="avatar" src="img/user-avatar.jpg" alt="avatar" class="img-circle">
    </a>
    <div class="user-info">
      <small>MY SALES</small><br>
      <span class="user-value">$37,000</span><span> week</span><br>
      <span class="user-value">$7,000</span><span> today</span>
    </div>
    <a class="user-profile-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span>John Doe</span>
      <span class="user-dropdown"><i class="fa fa-fw fa-angle-down"></i></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="fa fa-fw fa-calendar"></i> Calendar</a></li>
      <li><a href="#"><i class="fa fa-fw fa-user"></i> My Profile</a></li>
      <li><a href="#"><i class="fa fa-fw fa-gear"></i> System Settings</a></li>
      <li><a href="#"><i class="fa fa-fw fa-sign-out"></i> Sign out</a></li>
    </ul>
  </div>
  <div class="module-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounting <i class="pe pe-7s-right-arrow pull-right"></i></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="fa fa-fw fa-pie-chart"></i> CRM / Sales</a></li>
      <li><a href="#"><i class="fa fa-fw fa-users"></i> Human Resources</a></li>
      <li><a href="#"><i class="fa fa-fw fa-money"></i> Purchases</a></li>
    </ul>
  </div>
  <nav class="sidebar-nav">
    <ul id="left-side-menu" class="nav" aria-expanded="false">
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-home"></i> Dashboard
          <span
            class="label label-danger pull-right animated bounceIn">New</span><br>
          <small>This is the menu description...</small>
        </a>
        <ul class="nav">
          <li class="menu-item">
            <a href="dashboard-1.html">Dashboard 1</a>
          </li>
          {#          <li class="menu-item">#}
          {#            <a href="dashboard-2.html">Dashboard 2</a>#}
          {#          </li>#}
        </ul>
      </li>
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> CRM / Sales <span
            class="label label-info pull-right animated bounceIn">New</span><br>
          <small>CRM, POS and sales management...</small>
        </a>
        <ul class="nav">
          <li class="menu-item">
            <a href="ng-pos.html" target="_blank">Point of Sales</a>
          </li>
          <li class="menu-item">
            <a href="crm.html">CRM (Opportunities)</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-print"></i> BI / Reporting <span
            class="label label-success pull-right animated bounceIn">New</span><br>
          <small>Reports and more...</small>
        </a>
        <ul class="nav">
          <li class="menu-item">
            <a href="ng-report.html">ngReport (Report Viewer)</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-envelope-o"></i> Messages
          <span class="badge badge-warning pull-right animated bounceIn">32</span><br>
          <small>You got 32 new messages...</small>
        </a>
        <ul class="nav">
          <li class="menu-item">
            <a href="inbox.html">Inbox</a>
          </li>
          <li class="menu-item">
            <a href="compose-email.html">Compose Email</a>
          </li>
          <li class="menu-item">
            <a href="view-email.html">Email View</a>
          </li>
        </ul>
      </li>
      {#      <li class="menu-item">#}
      {#        <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> CRUD <span class="label label-default pull-right animated bounceIn">New</span><br>#}
      {#          <small>CRUD, REST and Ajax examples...</small>#}
      {#        </a>#}
      {#        <ul class="nav">#}
      {#          <li class="menu-item">#}
      {#            <a href="tables.html">Basic Tables</a>#}
      {#          </li>#}
      {#        </ul>#}
      {#      </li>#}
      <li class="menu-item"><a href="#"><i class="fa fa-lg fa-fw fa-edit"></i> Forms<span class="fa arrow"></span></a>
        <ul class="nav">
          <li class="menu-item">
            <a href="form-elements.html">Form Elements</a>
          </li>
          <li class="menu-item">
            <a href="advanced-forms.html">Advanced Forms</a>
          </li>
          <li class="menu-item">
            <a href="list-view.html">List View</a>
          </li>
          <li class="menu-item">
            <a href="calendar-view.html">Calendar View</a>
          </li>
          <li class="menu-item">
            <a href="xeditable-forms.html">X-Editable Forms</a>
          </li>
          <li class="menu-item">
            <a href="plugin-forms.html">Plugin Controls</a>
          </li>
          <li class="menu-item">
            <a href="web-editors.html">Web Editors</a>
          </li>
          <li class="menu-item">
            <a href="ck-editor.html">CK Editor</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> Graphs</a>
        <ul class="nav">
          <li class="menu-item">
            <a href="flot.html">Flot</a>
          </li>
          <li class="menu-item">
            <a href="chartjs.html">Chart.js</a>
          </li>
          <li class="menu-item">
            <a href="easy-pie-chart.html">Easy pie chart</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> Tables</a>
        <ul class="nav">
          <li class="menu-item">
            <a href="tables.html">Basic Tables</a>
          </li>
          <li class="menu-item">
            <a href="data-tables.html">Data Tables</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-object-group"></i> UI Elements</a>
        <ul class="nav">
          <li class="menu-item">
            <a href="typography.html">Typography</a>
          </li>
          <li class="menu-item">
            <a href="buttons.html">Buttons</a>
          </li>
          <li class="menu-item">
            <a href="#">Icons</a>
            <ul class="nav">
              <li class="menu-item">
                <a href="font-awesome.html">Font Awesome</a>
              </li>
              <li class="menu-item">
                <a href="glyphicons.html">Glyph Icons</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="panels.html">Panels</a>
          </li>
          <li class="menu-item">
            <a href="wells.html">Wells</a>
          </li>
          <li class="menu-item">
            <a href="callouts.html">Callout</a>
          </li>
          <li class="menu-item">
            <a href="general.html">General Elements</a>
          </li>
          {#          <li class="menu-item">#}
          {#            <a href="tree-view.html">Tree View</a>#}
          {#          </li>#}
          <li class="menu-item">
            <a href="modals.html">Modals &amp; Dialogs</a>
          </li>
          <li class="menu-item">
            <a href="components.html">Components</a>
          </li>
          {#          <li class="menu-item">#}
          {#            <a href="buttons.html">JQuery UI</a>#}
          {#          </li>#}
          <li class="menu-item">
            <a href="grid.html">Grid System</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> App Views</a>
        <ul class="nav">
          <li class="menu-item">
            <a href="projects.html">Projects</a>
          </li>
          <li class="menu-item">
            <a href="blog.html">Blog</a>
          </li>
          <li class="menu-item">
            <a href="article.html">Article</a>
          </li>
          <li class="menu-item">
            <a href="faq.html">FAQ</a>
          </li>
        </ul>
      </li>
      {#      <li class="menu-item">#}
      {#        <a href="#"><i class="fa fa-lg fa-fw fa-comment"></i> Widgets</a>#}
      {#        <ul class="nav">#}
      {#          <li class="menu-item">#}
      {#            <a href="tables.html">Basic Tables</a>#}
      {#          </li>#}
      {#        </ul>#}
      {#      </li>#}
      <li class="menu-item">
        <a href="#"><i class="fa fa-lg fa-fw fa-bookmark"></i> Template Pages</a>
        <ul class="nav">
          <li class="menu-item">
            <a href="login.html">Login</a>
          </li>
          <li class="menu-item">
            <a href="404.html">Error 404</a>
          </li>
          <li class="menu-item">
            <a href="403.html">Error 403</a>
          </li>
          <li class="menu-item">
            <a href="500.html">Error 500</a>
          </li>
          <li class="menu-item">
            <a href="debug-500.html">Debug 500</a>
          </li>
          <li class="menu-item">
            <a href="550.html">Error 550</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
