<div class="col-lg-2">
  <a href="compose-email.html" class="btn btn-primary btn-block font-15px">Compose Message</a>
  <hr>

  <ul class="nav nav-pills nav-stacked nav-folders">
    <li role="presentation" class="active">
      <a href="inbox.html"><strong>Inbox (32)</strong></a>
    </li>
    <li role="presentation">
      <a href="#"><strong>Sent</strong></a>
    </li>
    <li role="presentation">
      <a href="#"><strong>Important</strong></a>
    </li>
    <li role="presentation">
      <a href="#"><strong>TODO</strong></a>
    </li>
    <li role="presentation">
      <a href="#"><strong>Trash</strong></a>
    </li>
    <li role="presentation">
      <a href="#"><strong>Chat <i class="fa fa-fw fa-comment-o"></i></strong></a>
      <ul class="list-unstyled">
        <li>
          <img class="img-circle" src="img/faces/b-48.jpg">
          <span>O. Martin</span>
        </li>
        <li>
          <img class="img-circle" src="img/faces/g-48.jpg">
          <span>A. Diaz</span>
        </li>
        <li>
          <img class="img-circle" src="img/faces/biz-1-48.jpg">
          <span>@client</span>
        </li>
        <li>
          <img class="img-circle" src="img/faces/d-48.jpg">
          <span>user.name</span>
        </li>
      </ul>
    </li>
  </ul>
</div>
