<!-- Fixed navbar -->
<nav id="header" class="navbar navbar-default navbar-skin">
  <div class="navbar-header">
    <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">Accounting</a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="fa fa-fw fa-pie-chart"></i> CRM / Sales</a></li>
      <li><a href="#"><i class="fa fa-fw fa-users"></i> Human Resources</a></li>
      <li><a href="#"><i class="fa fa-fw fa-money"></i> Purchases</a></li>
    </ul>

  </div>
  <div class="header-link hide-left-menu">
    <i class="fa fa-bars"></i>
  </div>
  <div class="small-logo">
    <span id="current-menu-name">Accounting</span>
  </div>
  <div id="navbar" class="navbar-collapse">
    <ul class="nav navbar-nav hidden-xs">
      <li class="navbar-search"><input id="navbar-search" type="text" class="navbar-search-control"
                                       placeholder="Find resources here..."></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Shortcuts <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="ng-pos.html" target="_blank">POS (Point of Sales)</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li><a href="javascript:void(0);" data-action="voiceCommand" title="Execute command voice"><i
          class="fa fa-microphone"></i></a></li>
    </ul>
    <ul id="static-nav" class="nav navbar-nav navbar-right">
      <li>
        <a href="javascript:void(0);" data-action="messages" title="View notifications" class="dropdown-toggle"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell"></i>
          <span class="label label-warning label-menu-corner">32</span>
        </a>
        <ul class="dropdown-menu dropdown-notifications-menu animated flipInY">
          <div class="title">
            You have 32 new notifications.
          </div>
          <hr>
          <li>
            <a href="#"><i class="fa fa-fw fa-tasks"></i> Pending task notification</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-envelope-o"></i> New order</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-envelope-o"></i> New purchase</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-envelope-o"></i> New order</a>
          </li>

          <hr>
          <a href="#" class="btn btn-default">
            Read more
          </a>
        </ul>

      </li>
      <li class="hidden-xs">
        <a href="javascript:void(0);" data-action="fullScreen" title="Full Screen">
          <i class="fa fa-arrows-alt"></i>
        </a>
      </li>
      <li><a href="#" title="Logout"><i class="fa fa-lg fa-sign-out"></i></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</nav>
