@import "variables.less";

#left-side-menu > li.menu-item .menu-item {
  border-top: none;
}

.skin(@bg-color; @user-value: #ec8157) {
  #header.navbar {
    border: none;
    //border-bottom: 1px solid #d9dbda;
  }

  #left-menu .user-profile-menu {
    background: transparent;
    color: #f2f2f2;
  }

  #left-menu .module-menu>a {
    //background-color: @bg-color;
    color: #f2f2f2;
  }

  #header.navbar-skin {
    background: @bg-color;
    border: none;
    color: #ffffff;

    .navbar-search-control {
      background: transparent;
      color: #ffffff;
      border: 1px solid lighten(@bg-color, 8%);
      border-radius: 4px;
    }
  }

  .navbar-header {
    width: 220px;
    border-right: none;
    background: @bg-color;

    > a, > a.navbar-brand:focus {
      transition: all 300ms;
      color: lighten(@bg-color, 70%);
    }
    > a.navbar-brand:hover {
      color: #ffffff;
    }
  }

  #left-menu.skin .menu-item > a {
    background: @bg-color;
    color: lighten(@bg-color, 72%);
  }
  #left-menu.skin .menu-item.active a {
    background: darken(@bg-color, 5%);
  }
  #left-menu.skin > nav > #left-side-menu > .menu-item > a:hover {
    background: darken(@bg-color, 5%);
    color: #ffffff;
  }
  #left-menu.skin > nav > #left-side-menu > .menu-item > ul a:hover {
    background: darken(@bg-color, 8%);
    color: #ffffff;
  }

  #left-menu.skin > nav > #left-side-menu > .menu-item {
    border-top: 1px solid lighten(@bg-color, 4%);
  }
  #left-menu.skin #left-side-menu > li.menu-item:last-child {
    border-bottom: 1px solid lighten(@bg-color, 4%);
  }
  #footer.page-footer {
    border-left: 1px solid lighten(@bg-color, 10%);
    background: #56626e;
    //background: @bg-color;
    color: #ffffff;
  }

  &.bg-skin #page-content {
    background: @bg-color;
  }

  .navbar-skin .navbar-nav > li > a,
  .navbar-skin .navbar-brand {
    color: #ffffff;
  }

  .navbar-skin .navbar-nav > .open > a,
  .navbar-skin .navbar-nav > .open > a:hover,
  .navbar-skin .navbar-nav > .open > a:focus {
    color: #ffffff;
  }

  .navbar-skin .navbar-search-control:focus {
    border: lighten(@bg-color, 10%);
    outline: none;
  }

  @navbar-search-placeholder: #e8e8e8;

  .navbar-skin .navbar-search-control::-webkit-input-placeholder {
    color: @navbar-search-placeholder;
  }
  .navbar-skin .navbar-search-control::-moz-placeholder {
    color: @navbar-search-placeholder;
  }
  .navbar-skin .navbar-search-control:-moz-placeholder {
    color: @navbar-search-placeholder;
  }
  .navbar-skin .navbar-search-control:-ms-input-placeholder {
    color: @navbar-search-placeholder;
  }
}

#left-side-menu > .menu-item > a {
  background: #eeeeee;
}

.navbar-button > i.fa {
  background: transparent;
  width: auto;
  padding: 10px;
  border-radius: 4px;
}

.navbar.navbar-skin li.border-right {
  border-right: none;
}

.default-skin {
  .skin(#2f3e4d, #2f3e4d);
}

.gray-skin {
  .skin(#424141);
}

.blue-skin {
  .skin(darken(#3292d3, 10%));
}

.red-skin {
  .skin(#ee6161, #375f82);
}

.navy-skin {
  .skin(#1f3d52);
}

.deep-purple-skin {
  .skin(@brand-deep-purple);
}

.purple-skin {
  .skin(@brand-purple);
}

.indigo-skin {
  .skin(@brand-indigo);
}
