{% extends "base.html" %}
{% block content %}
  <div class="data-heading panel panel-default">
    <div class="panel-body">
      <div>
        <a href="#" title="Add to favorite"><i class="fa star fa-star-o pull-right"></i></a>
        <i class="fa fa-2x fa-fw fa-edit fa-pull-left"></i>
        <ol class="breadcrumb">
          <li><a href="#">Forms</a></li>
          <li>CURRENT RECORD DISPLAY TEXT</li>
        </ol>
        <div class="pull-right">
            <span>
              1 / 100
            </span>
        </div>
        <p class="help-block">Form help text (leave a useful message here)</p>
      </div>
      <div>
        <button class="btn btn-primary" type="button">Create New</button>
        <button class="btn btn-default" type="button">Cancel</button>
        <button class="btn btn-default" type="button"><i class="fa fa-fw fa-trash-o"></i> Delete</button>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
            Actions <span class="caret"></span></button>
          <ul class="dropdown-menu animated flipInX">
            <li><a href="#"><i class="fa fa-fw fa-print"></i> Print Form</a></li>
            <li><a href="#"><i class="fa fa-fw fa-envelope-o"></i> Send Email</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="fa fa-fw fa-file-archive-o"></i> Another Action</a></li>
          </ul>
        </div>

        <div class="pull-right">
          <div class="btn-group" role="group">
            <button class="btn btn-default" type="button"><i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-default" type="button"><i class="fa fa-chevron-right"></i>
            </button>
          </div>

          <div class="btn-group" role="group">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            <button class="btn btn-default" type="button"><i class="fa fa-list"></i></button>
            <button class="btn btn-default" type="button"><i class="fa fa-edit"></i></button>
            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            <button class="btn btn-default" type="button"><i class="fa fa-bar-chart-o"></i></button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Boxed CRUD Form
      </div>
      <div class="panel-body">
  {% include "include/horz-advanced-form.html" %}
      </div>
    </div>

    <div class="callout callout-info">
      <h4>Modal Forms</h4>
      <p>You can even invoke a <code>.data-panel</code> div as a <code>.modal</code> dialog.</p>
      <button class="btn btn-default" data-toggle="modal" data-target="#form-dialog-1">Show Form</button>
    </div>

  </div>

  <div class="container">
    <div class="panel panel-default data-panel">
      <div class="panel-heading">
        Vertical CRUD Form
      </div>
      <div class="panel-body">
        <div>

          <form novalidate>

            <div class="row hidden-xs">
              <div class="col-sm-12">
                <div class="status-field bg-deep-purple pull-right">
                  <ul class="steps">
                    <li>
                      Registered
                      <span class="arrow"></span>
                    </li>
                    <li class="active">
                      Confirmed
                      <span class="arrow"></span>
                    </li>
                    <li>
                      Approved
                      <span class="arrow"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div>
                <div class="col-lg-2">
                  <div class="image-box">
                    <img src="img/avatar.png">
                    <div class="text-right image-box-buttons">
                      <button class="btn btn-xs btn-default" type="button" title="Change"><i class="fa fa-pencil"></i>
                      </button>
                      <button class="btn btn-xs btn-default" type="button" title="Clear"><i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="form-group">
                    <h1 class="no-margin no-padding">
                      <input id=input-0-1" class="form-control input-lg" placeholder="Partner Name">
                    </h1>
                  </div>
                  <div class="form-group">
                    <label class="checkbox">
                      <input type="checkbox"> Is company
                      <i></i>
                    </label>
                  </div>
                </div>

              </div>
              <div class="clearfix"></div>

              <div class="col-sm-12 form-group">
                <label for="input-0-1">Company</label>
                <input id="input-0-1" class="form-control">
              </div>
              <div class="col-sm-6 form-group">
                <label for="input-0-2">Address</label>
                <input id="input-0-2" class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="input-0-3">City</label>
                <input id="input-0-3" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label for="input-0-4">Small Input 1</label>
                <input id="input-0-4" class="form-control input-sm" placeholder="input-sm">
              </div>
              <div class="col-lg-6 form-group">
                <label for="input-0-5">Small Input 2</label>
                <input id="input-0-5" class="form-control input-sm" placeholder="input-sm">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <label for="input-0-6">Field 1</label>
                <input id="input-0-6" class="form-control" placeholder="Type value 1">
              </div>
              <div class="col-lg-3">
                <label for="input-0-7">Field 2</label>
                <input id="input-0-7" class="form-control" placeholder="Type value 2">
              </div>
              <div class="col-lg-3">
                <label for="input-0-8">Field 3</label>
                <input id="input-0-8" class="form-control" placeholder="Type value 3">
              </div>
              <div class="col-lg-3">
                <label for="input-0-9">Field 4</label>
                <input id="input-0-9" class="form-control" placeholder="Type value 4">
              </div>
            </div>

            <div class="row">

              <fieldset class="col-lg-6">
                <legend>Shipping Address</legend>

                <div class="row">
                  <label class="col-lg-2">Address</label>
                  <div class="col-lg-10">
                    <div class="row">
                      <section class="col-sm-12 border">
                        <input class="form-control" placeholder="Line 1...">
                      </section>
                      <section class="col-sm-12 field border">
                        <input class="form-control" placeholder="Line 2...">
                      </section>

                      <section class="col-lg-4 border">
                        <input class="form-control" placeholder="Zip Code">
                      </section>
                      <section class="col-lg-8">
                        <input class="form-control" placeholder="City">
                      </section>

                      <section class="col-lg-6 border">
                        <select class="form-control">
                          <option>State</option>
                        </select>
                      </section>
                      <section class="col-lg-6">
                        <input class="form-control" placeholder="Country">
                      </section>
                    </div>
                  </div>
                </div>

              </fieldset>

              <fieldset class="col-lg-6">
                <legend>Additional Info</legend>

                <div class="row">
                  <div class="col-lg-12 form-group">
                    <label for="input-phone-1">Phone</label>
                    <input class="form-control" id="input-phone-1">
                  </div>
                </div>


                <div class="row">
                  <div class="col-lg-12 form-group">
                    <label for="input-url-1">Website</label>
                    <input class="form-control" id="input-url-1">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 form-group">
                    <label for="input-email-1">Email</label>
                    <input class="form-control" id="input-email-1">
                  </div>
                </div>


                <div>

                  <button class="btn btn-info pull-right" type="button">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    Send Welcome Email
                  </button>

                </div>

              </fieldset>

            </div>

          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="content">
    <div class="panel panel-default data-panel">
      <div class="panel-heading">
        Full Width CRUD Form
      </div>
      <div class="panel-body">
        <div>

          <form class="form-horizontal" novalidate>

            <div class="row hidden-xs">
              <div class="col-sm-12">
                <div class="status-field bg-deep-purple pull-right">
                  <ul class="steps">
                    <li>
                      Registered
                      <span class="arrow"></span>
                    </li>
                    <li class="active">
                      Confirmed
                      <span class="arrow"></span>
                    </li>
                    <li>
                      Approved
                      <span class="arrow"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div>
                <div class="col-lg-1">
                  <div class="image-box">
                    <img src="img/avatar.png">
                    <div class="text-right image-box-buttons">
                      <button class="btn btn-xs btn-default" type="button" title="Change"><i class="fa fa-pencil"></i>
                      </button>
                      <button class="btn btn-xs btn-default" type="button" title="Clear"><i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-11">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h1 class="no-margin no-padding">
                        <input id=input-0-1" class="form-control input-lg" placeholder="Partner Name">
                      </h1>
                    </div>
                    <div class="form-group">
                      <label class="checkbox">
                        <input type="checkbox"> Is company
                        <i></i>
                      </label>
                    </div>
                  </div>
                </div>

              </div>
              <div class="clearfix"></div>
              <label for="input-0-1" class="col-lg-1">Company</label>
              <div class="col-lg-11 field border">
                <input id="input-0-1" class="form-control">
              </div>
              <label for="input-0-2" class="col-lg-1">Address</label>
              <div class="col-lg-5 field border">
                <input id="input-0-2" class="form-control">
              </div>
              <label for="input-0-3" class="col-lg-1">City</label>
              <div class="col-lg-5 field border">
                <input id="input-0-3" class="form-control">
              </div>
            </div>
            <div class="row">
              <label for="input-0-4" class="col-lg-1">Small Input 1</label>
              <div class="col-lg-5 field border">
                <input id="input-0-4" class="form-control input-sm" placeholder="input-sm">
              </div>
              <label for="input-0-5" class="col-lg-1">Small Input 2</label>
              <div class="col-lg-5 field border">
                <input id="input-0-5" class="form-control input-sm" placeholder="input-sm">
              </div>
            </div>
            <div class="row">
              <label for="input-0-6" class="col-lg-1">Field 1</label>
              <div class="col-lg-2 field border">
                <input id="input-0-6" class="form-control" placeholder="Type value 1">
              </div>
              <label for="input-0-7" class="col-lg-1">Field 2</label>
              <div class="col-lg-2">
                <input id="input-0-7" class="form-control" placeholder="Type value 2">
              </div>
              <label for="input-0-8" class="col-lg-1">Field 3</label>
              <div class="col-lg-2 field border">
                <input id="input-0-8" class="form-control" placeholder="Type value 3">
              </div>
              <label for="input-0-9" class="col-lg-1">Field 4</label>
              <div class="col-lg-2">
                <input id="input-0-9" class="form-control" placeholder="Type value 4">
              </div>
            </div>

            <div class="row">

              <fieldset class="col-lg-6">
                <legend>Shipping Address</legend>

                <div class="row">
                  <label class="col-lg-2">Address</label>
                  <div class="col-lg-10">
                    <div class="row">
                      <section class="col-sm-12 border">
                        <input class="form-control" placeholder="Line 1...">
                      </section>
                      <section class="col-sm-12 field border">
                        <input class="form-control" placeholder="Line 2...">
                      </section>

                      <section class="col-lg-4 border">
                        <input class="form-control" placeholder="Zip Code">
                      </section>
                      <section class="col-lg-8">
                        <input class="form-control" placeholder="City">
                      </section>

                      <section class="col-lg-6 border">
                        <select class="form-control">
                          <option>State</option>
                        </select>
                      </section>
                      <section class="col-lg-6">
                        <input class="form-control" placeholder="Country">
                      </section>
                    </div>
                  </div>
                </div>

              </fieldset>

              <fieldset class="col-lg-6">
                <legend>Additional Info</legend>

                <div class="row">
                  <label for="input-phone-1" class="col-lg-2">Phone</label>
                  <div class="col-lg-10 field border">
                    <input class="form-control" id="input-phone-1">
                  </div>
                </div>


                <div class="row">
                  <label for="input-url-1" class="col-lg-2">Website</label>
                  <div class="col-lg-10 field border">
                    <input class="form-control" id="input-url-1">
                  </div>
                </div>

                <div class="row">

                  <label for="input-email-1" class="col-lg-2">Email</label>
                  <div class="col-lg-10 field border">
                    <input class="form-control" id="input-email-1">
                  </div>
                </div>


                <div>

                  <button class="btn btn-info pull-right" type="button">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    Send Welcome Email
                  </button>

                </div>

              </fieldset>

            </div>

          </form>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
{% block additional_scripts %}
  <div class="modal fade" id="form-dialog-1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><i class="fa fa-fw fa-edit"></i> Modal Edit</h4>
        </div>
        <div class="modal-body">
          {% include "include/horz-advanced-form.html" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
