{% extends "base.html" %}
{% block content %}
  <div class="content">
    <div class="panel-default col-sm-12">
      <div class="panel-body dashboard-panel">
        <i class="pe pe-7s-rocket pe-4x pull-left"></i>
        <div>
          <span class="title">Blog View</span><br>
          <strong>THIS IS A BLOG PAGE VIEW</strong>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div>
            <a href="article.html">
              <h4>Lorem ipsum dolor sit amet</h4>
            </a>
            <p>
              <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
              <small>01/10/2016 08:00 pm</small>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div>
            <a href="article.html">
              <h4>Lorem ipsum dolor sit amet</h4>
            </a>
            <p>
              <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
              <small>01/10/2016 08:00 pm</small>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div>
            <a href="article.html">
              <h4>Lorem ipsum dolor sit amet</h4>
            </a>
            <p>
              <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
              <small>01/10/2016 08:00 pm</small>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div class="blog-title">
            <a href="article.html">
              <img src="demo/blog/blog-2.jpg">
            <div class="title">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
                <small>01/10/2016 08:00 pm</small>
              </p>
            </div>
            </a>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div class="blog-title">
            <a href="article.html">
              <img src="demo/blog/blog-3.jpg">
            <div class="title">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
                <small>01/10/2016 08:00 pm</small>
              </p>
            </div>
            </a>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div class="blog-title">
            <a href="article.html">
              <img src="demo/blog/blog-5.jpg">
            <div class="title">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
                <small>01/10/2016 08:00 pm</small>
              </p>
            </div>
            </a>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div class="blog-title">
            <a href="article.html">
              <img src="demo/blog/blog-1.jpg">
            <div class="title">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
                <small>01/10/2016 08:00 pm</small>
              </p>
            </div>
            </a>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>


    <div class="col-sm-7">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div class="media">
            <a class="media-left" href="#">
              <img class="media-object" src="demo/blog/blog-1.jpg">
            </a>
            <div class="media-body">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
                <small>01/10/2016 08:00 pm</small>
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
                iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
                repellat? <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
                iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
              </p>
              <a href="article.html" class="pull-right">Read more...</a>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div>
            <h4>With edit button</h4>
            <p>
              <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
              <small>01/10/2016 08:00 pm</small>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div>
            <button class="btn btn-default"><i class="fa fa-fw fa-edit"></i>Edit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div>
            <a href="article.html">
              <h4>Lorem ipsum dolor sit amet</h4>
            </a>
            <p>
              <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
              <small>01/10/2016 08:00 pm</small>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div>
            <h4>With edit button</h4>
            <p>
              <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
              <small>01/10/2016 08:00 pm</small>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div>
            <button class="btn btn-default"><i class="fa fa-fw fa-edit"></i>Edit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel blog-panel">
        <div class="panel-body">
          <div class="blog-title">
            <a href="article.html">
              <img src="demo/blog/blog-1.jpg">
            <div class="title">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                <span><i>Published by: <a href="article.html">Author Name</a></i></span><br>
                <small>01/10/2016 08:00 pm</small>
              </p>
            </div>
            </a>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus. Distinctio,
              repellat? <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque delectus eaque, inventore
              iusto, optio quae, quidem sequi sit soluta sunt totam unde velit vero voluptas voluptatibus...
            </p>
            <a href="article.html" class="pull-right">Read more...</a>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <i class="fa fa-fw fa-comments-o"></i>
            <small> 100 comments</small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}