{% extends "base.html" %}
{% block content %}
  <div class="panel page-heading">
    <h2>Panels</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">UI Elements</a>
      </li>
      <li>Callout</li>
    </ol>
  </div>

  <div class="content">
    <div class="row">

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Callout
          </div>
          <div class="panel-body">

            <div class="callout callout-default">
              <h4>Callout Default</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus libero placeat recusandae repellendus sequi sit temporibus, voluptate. Accusamus facere fugit illo, in maiores minus obcaecati officia quasi quidem rem sapiente.
              </p>
            </div>

            <div class="callout callout-primary">
              <h4>Callout Primary</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque deleniti necessitatibus soluta. Aliquid architecto asperiores consequuntur, debitis deleniti eligendi exercitationem nam, nemo omnis optio pariatur quaerat recusandae repellat unde.
              </p>
            </div>

            <div class="callout callout-success">
              <h4>Callout Success</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium alias, aliquam at cupiditate debitis delectus eum expedita explicabo fugit iure nam nostrum quaerat reprehenderit suscipit, totam veritatis voluptates.
              </p>
            </div>

            <div class="callout callout-info">
              <h4>Callout Info</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores culpa deserunt dolores enim fuga harum illum ipsam laboriosam laudantium, molestias nam, nemo, nihil nobis qui recusandae sit soluta vero!
              </p>
            </div>
            <div class="callout callout-warning">
              <h4>Callout Warning</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid animi aut delectus dicta distinctio dolore ea explicabo facere hic, labore laboriosam officia pariatur possimus quasi repellat repellendus tenetur velit.
              </p>
            </div>
            <div class="callout callout-danger">
              <h4>Callout Danger</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam cumque minus necessitatibus numquam obcaecati optio qui repudiandae voluptatibus. Adipisci atque beatae dolores doloribus earum eligendi fuga illo optio. Facere.
              </p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            More Colors
          </div>
          <div class="panel-body">

            <div class="callout callout-deep-purple">
              <h4>Callout Deep Purple</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus libero placeat recusandae repellendus sequi sit temporibus, voluptate. Accusamus facere fugit illo, in maiores minus obcaecati officia quasi quidem rem sapiente.
              </p>
            </div>

            <div class="callout callout-orange">
              <h4>Callout Orange</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis error excepturi hic magnam minus! Alias amet doloremque eligendi quae quas voluptatum. Commodi consequatur debitis molestias natus, non quas quia vitae!
              </p>
            </div>

            <div class="callout callout-teal">
              <h4>Callout Teal</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque deleniti necessitatibus soluta. Aliquid architecto asperiores consequuntur, debitis deleniti eligendi exercitationem nam, nemo omnis optio pariatur quaerat recusandae repellat unde.
              </p>
            </div>

            <div class="callout callout-light-blue">
              <h4>Callout Light Blue</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium alias, aliquam at cupiditate debitis delectus eum expedita explicabo fugit iure nam nostrum quaerat reprehenderit suscipit, totam veritatis voluptates.
              </p>
            </div>

            <div class="callout callout-pink">
              <h4>Callout Pink</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores culpa deserunt dolores enim fuga harum illum ipsam laboriosam laudantium, molestias nam, nemo, nihil nobis qui recusandae sit soluta vero!
              </p>
            </div>

            <div class="callout callout-blue-gray">
              <h4>Callout Blue Gray</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores culpa deserunt dolores enim fuga harum illum ipsam laboriosam laudantium, molestias nam, nemo, nihil nobis qui recusandae sit soluta vero!
              </p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
