{% extends "base.html" %}
{% block content %}
  <div class="panel page-heading">
    <h2>Sales Opportunities <i class="pe pe-fw pe-7s-rocket"></i></h2>
    <p class="help-block">
      <strong>Drag and drop</strong> opportunities panels between gourps.
    </p>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">CRM</a>
      </li>
      <li>Opportunities</li>
    </ol>
  </div>

  <div class="content">

    <div class="alert alert-primary">
      <button class="close" data-dismiss="alert">&times;</button>
      <strong>Drag and drop</strong> opportunities cards between gourps.
    </div>

    <div class="kanban col-sm-12">
      <div class="kanban-group col-sm-2">
        <div class="kanban-heading">
          <div class="btn-group pull-right">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu animated flipInX">
              <li>
                <a href="#">Create new opportunity</a>
              </li>
              <li>
                <a href="#">Action 2</a>
              </li>
              <li>
                <a href="#">Action 3</a>
              </li>
            </ul>
          </div>
          <h4><i class="pe pe-fw pe-7s-call"></i> New Opportunity</h4>
          <p class="help-block">Start dragging and dropping.</p>
        </div>

        <div class="kanban-items">

          <!-- kanban item -->
          <div class="kanban-item bg-blue-gray">
            <div class="btn-group pull-right">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu animated flipInX">
                <li>
                  <a href="#">Move to next level</a>
                </li>
                <li>
                  <a href="#">Action 2</a>
                </li>
                <li>
                  <a href="#">Action 3</a>
                </li>
              </ul>
            </div>
            <strong class="kanban-item-title">My test opportunity.</strong>
            <br>
            <small>More information</small>
            <div>
              <img class="img-circle" src="img/faces/a-48.jpg">
            </div>
            <div class="rating">
              <input type="radio" id="star5" name="rating" value="5">
              <label for="star5">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star4" name="rating" value="4">
              <label for="star4">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star3" name="rating" value="3">
              <label for="star3">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star2" name="rating" value="2">
              <label for="star2">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star1" name="rating" value="1">
              <label for="star1">
                <i class="fa fa-star"></i>
              </label>
            </div>
          </div>
          <!-- end kanban item -->

          <div class="kanban-item bg-light-blue">
            <div class="btn-group pull-right">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu animated flipInX">
                <li>
                  <a href="#">Move to next level</a>
                </li>
                <li>
                  <a href="#">Action 2</a>
                </li>
                <li>
                  <a href="#">Action 3</a>
                </li>
              </ul>
            </div>
            <strong class="kanban-item-title">My 3rd opportunity.</strong>
            <br>
            <small>More information</small>
            <div>
              <img class="img-circle" src="img/faces/biz-2-48.jpg">
            </div>
          </div>

          <div class="kanban-item bg-green">
            <div class="btn-group pull-right">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu animated flipInX">
                <li>
                  <a href="#">Move to next level</a>
                </li>
                <li>
                  <a href="#">Action 2</a>
                </li>
                <li>
                  <a href="#">Action 3</a>
                </li>
              </ul>
            </div>
            <strong class="kanban-item-title">New one.</strong>
            <br>
            <small>More information</small>
            <div>
              <img class="img-circle" src="img/faces/b-48.jpg">
            </div>
          </div>

          <div class="kanban-item bg-red">
            <div class="btn-group pull-right">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu animated flipInX">
                <li>
                  <a href="#">Move to next level</a>
                </li>
                <li>
                  <a href="#">Action 2</a>
                </li>
                <li>
                  <a href="#">Action 3</a>
                </li>
              </ul>
            </div>
            <strong class="kanban-item-title">More opportunity.</strong>
            <br>
            <small>More information</small>
            <div>
              <img class="img-circle" src="img/faces/biz-1-48.jpg">
            </div>
          </div>

          <div class="kanban-item bg-danger">
            <div class="btn-group pull-right">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu animated flipInX">
                <li>
                  <a href="#">Move to next level</a>
                </li>
                <li>
                  <a href="#">Action 2</a>
                </li>
                <li>
                  <a href="#">Action 3</a>
                </li>
              </ul>
            </div>
            <strong class="kanban-item-title">My 3rd opportunity.</strong>
            <br>
            <small>More information</small>
            <div>
              <img class="img-circle" src="img/faces/biz-3-48.jpg">
            </div>
          </div>

        </div>
      </div>

      <div class="kanban-group col-sm-2">
        <div class="kanban-heading">
          <div class="btn-group pull-right">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu animated flipInX">
              <li>
                <a href="#">Create new opportunity</a>
              </li>
              <li>
                <a href="#">Action 2</a>
              </li>
              <li>
                <a href="#">Action 3</a>
              </li>
            </ul>
          </div>
          <h4><i class="pe pe-fw pe-7s-filter"></i> Qualified</h4>
          <p class="help-block">Be patient...</p>
        </div>
        <div class="kanban-items">

          <div class="kanban-item bg-deep-purple">
            <div class="btn-group pull-right">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu animated flipInX">
                <li>
                  <a href="#">Move to next level</a>
                </li>
                <li>
                  <a href="#">Action 2</a>
                </li>
                <li>
                  <a href="#">Action 3</a>
                </li>
              </ul>
            </div>
            <strong class="kanban-item-title">My 2nd opportunity.</strong>
            <br>
            <small>More information</small>
            <div>
              <img class="img-circle" src="img/faces/biz-4-48.jpg">
            </div>
            <div class="rating">
              <input type="radio" id="star5" name="rating" value="5">
              <label for="star5">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star4" name="rating" value="4">
              <label for="star4">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star3" name="rating" value="3">
              <label for="star3">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star2" name="rating" value="2">
              <label for="star2">
                <i class="fa fa-star"></i>
              </label>
              <input type="radio" id="star1" name="rating" value="1">
              <label for="star1">
                <i class="fa fa-star"></i>
              </label>
            </div>
          </div>

        </div>
      </div>

      <div class="panel kanban-group col-sm-2">
        <div class="kanban-heading">
          <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu animated flipInX">
              <li>
                <a href="#">Create new opportunity</a>
              </li>
              <li>
                <a href="#">Action 2</a>
              </li>
              <li>
                <a href="#">Action 3</a>
              </li>
            </ul>
          </div>
          <h4><i class="pe pe-fw pe-7s-flag"></i> Almost</h4>
          <p class="help-block">Almost there...</p>
        </div>
        <div class="kanban-items">

        </div>
      </div>

      <div class="kanban-group col-sm-2">
        <div class="kanban-heading">
          <div class="btn-group pull-right">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu animated flipInX">
              <li>
                <a href="#">Create new opportunity</a>
              </li>
              <li>
                <a href="#">Action 2</a>
              </li>
              <li>
                <a href="#">Action 3</a>
              </li>
            </ul>
          </div>
          <h4><i class="pe pe-fw pe-7s-cup"></i>Won</h4>
          <p class="help-block">Wow! we won!</p>
        </div>
        <div class="kanban-items">

        </div>
      </div>

      <div class="kanban-add-group" title="Click here to add new group">
        <i class="fa fa-fw fa-chevron-right fa-2x"></i>
        <div class="clearfix"></div>
        <span class="title">Add New Group</span>
      </div>
    </div>
  </div>
{% endblock %}
{% block additional_scripts %}
  <script>
    $(function () {
      /*$('.kanban-item').draggable({
       revert: 'invalid',
       distance: 20
       });*/

      var sel = $('.kanban-group>.kanban-items');

      /*sel.droppable({
       tolerance: 'pointer',
       accept: '.kanban-item',
       drop: function(event, ui) {
       var el = $(ui.draggable);
       el.appendTo();
       }
       }).sortable();
       sel.disableSelection();*/
      console.log(sel);
      sel.sortable({
        connectWith: '.kanban-items',
      }).disableSelection();
    });
  </script>
{% endblock %}