{% extends "base.html" %}
{% block content %}
  <div class="col-lg-12 page-heading bg-white">
    <h2>FAQ</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">App Views</a>
      </li>
      <li>FAQ</li>
    </ol>
  </div>

  <div class="content row">

  <div class="col-sm-12">
    <form>
      <div class="panel panel-default">
        <div class="panel-body">
          <input class="form-control" placeholder="Search...">
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-3">
    <div class="list-group">
      <a href="#" class="list-group-item">
        <i class="fa fa-fw fa-chevron-right"></i> Software Questions
      </a>
      <a href="#" class="list-group-item">
        Accounting Questions
      </a>
      <a href="#" class="list-group-item">
        Human Resources Questions
      </a>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Questions</h4>
        <small>Commonly asked questions.</small>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet, consectetur?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum?</h5>
        </a>
        <a href="#" class="list-group-item">
          <h5>Lorem ipsum dolor sit amet?</h5>
        </a>
      </div>
    </div>
  </div>

  </div>

{% endblock %}