{% extends "base.html" %}
{% block content %}
  <div class="panel page-heading">
    <h2>General Elements</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">UI Elements</a>
      </li>
      <li>General Elements</li>
    </ol>
  </div>

  <div class="content">

    <h3><i class="fa fa-fw fa-warning"></i> Alerts</h3>

    <div class="row">

      <div class="col-md-12">
        <div class="alert alert-primary">
          <button class="close" data-dismiss="alert">&times;</button>
          <i class="fa fa-fw fa-check"></i> <strong>Primary</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Alias, amet, quisquam? At commodi, dignissimos eligendi enim error fugit ipsam itaque molestiae non
          nostrum numquam obcaecati optio pariatur perferendis porro quaerat!
        </div>
        <div class="alert alert-success">
          <button class="close" data-dismiss="alert">&times;</button>
          <i class="fa fa-fw fa-check"></i> <strong>Success!</strong> Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Atque corporis, culpa ea earum eius ex maxime quaerat tempore? Accusamus eaque earum illo
          incidunt maiores nisi perspiciatis possimus quae totam, veniam.
        </div>
        <div class="alert alert-info">
          <button class="close" data-dismiss="alert">&times;</button>
          <i class="fa fa-fw fa-info"></i> <strong>Info!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Debitis dignissimos, dolor ea nemo quidem sint tempora voluptas! Animi autem facere hic illo illum
          laudantium magnam omnis pariatur rerum voluptate? Autem.
        </div>
        <div class="alert alert-warning">
          <button class="close" data-dismiss="alert">&times;</button>
          <i class="fa fa-fw fa-warning"></i> <strong>Warning!</strong> Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Delectus et fuga ipsa itaque laudantium nam nesciunt nulla totam veniam. A consequuntur
          culpa cum cupiditate et eum, in laudantium maxime molestiae?
        </div>
        <div class="alert alert-danger">
          <button class="close" data-dismiss="alert">&times;</button>
          <i class="fa fa-fw fa-times"></i> <strong>Danger!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Architecto atque cumque deleniti dicta dolore ducimus ea eius eum, inventore ipsum libero minus
          perferendis quas quia quis reprehenderit sequi sit voluptatem.
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Bootstrap Additional Alerts
          </div>
          <div class="panel-body">
            <div class="alert alert-deep-purple">
              <button class="close" data-dismiss="alert">&times;</button>
              <strong>Deep Purple</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque aut
              consequuntur dolor doloremque ea earum ipsam, itaque labore maiores natus rem sed similique suscipit
              totam. Corporis dignissimos iusto mollitia?
            </div>
            <div class="alert alert-purple">
              <button class="close" data-dismiss="alert">&times;</button>
              <strong>Purple</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deserunt dolorum
              ea enim excepturi, fugiat ipsam labore laudantium magnam minus nihil non omnis rem tempore ut vel,
              voluptas voluptate voluptatum?
            </div>
            <div class="alert alert-pink">
              <button class="close" data-dismiss="alert">&times;</button>
              <strong>Pink</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dicta
              doloremque dolorum labore molestias, nulla. Ab aperiam corporis dolore, ex hic ipsam itaque laborum nulla
              totam veritatis. Aspernatur, porro repudiandae.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Bootstrap Inverse Alerts
          </div>
          <div class="panel-body">
            <div class="alert alert-info alert-inverse">
              <button class="close" data-dismiss="alert">&times;</button>
              <strong>Info Inverse</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque aut
              consequuntur dolor doloremque ea earum ipsam, itaque labore maiores natus rem sed similique suscipit
              totam. Corporis dignissimos iusto mollitia?
            </div>
            <div class="alert alert-success alert-inverse">
              <button class="close" data-dismiss="alert">&times;</button>
              <i class="fa fa-fw fa-check"></i><strong> Success Inverse</strong> Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Beatae deserunt dolorum ea enim excepturi, fugiat ipsam labore laudantium magnam minus
              nihil non omnis rem tempore ut vel, voluptas voluptate voluptatum?
            </div>
            <div class="alert alert-danger alert-inverse">
              <button class="close" data-dismiss="alert">&times;</button>
              <i class="fa fa-fw fa-warning"></i><strong> Danger Inverse</strong> Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Aspernatur dicta doloremque dolorum labore molestias, nulla. Ab aperiam
              corporis dolore, ex hic ipsam itaque laborum nulla totam veritatis. Aspernatur, porro repudiandae.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h3>Labels &amp; Badges</h3>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Labels
          </div>
          <div class="panel-body">

            <h4>Basic Labels</h4>

            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>

            <hr>

            <h4>Additional Labels</h4>

            <span class="label bg-deep-purple">Deep Purple</span>
            <span class="label bg-deep-orange">Deep Orange</span>
            <span class="label bg-blue-gray">Blue Gray</span>
            <span class="label bg-light-blue">Light Blue</span>
            <span class="label bg-brown">Brown</span>
            <span class="label bg-cyan">Cyan</span>
            <span class="label bg-teal">Teal</span>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Badges
          </div>
          <div class="panel-body">

            <h4>Default Badges</h4>
            <ul class="list-unstyled">
              <li><span class="badge">100</span> - Default</li>
              <li><span class="badge badge-primary">100</span> - Primary</li>
              <li><span class="badge badge-success">1001</span> - Success</li>
              <li><span class="badge badge-info">2002</span> - Info</li>
              <li><span class="badge badge-warning">3003</span> - Warning</li>
              <li><span class="badge badge-danger">4004</span> - Danger</li>
            </ul>

            <hr>

            <h4>Additional Badges</h4>
            <div class="row">
              <ul class="list-unstyled col-sm-6">
                <li><span class="badge bg-deep-purple">100</span> - Deep Purple</li>
                <li><span class="badge bg-purple">200</span> - Purple</li>
                <li><span class="badge bg-deep-orange">300</span> - Deep Orange</li>
                <li><span class="badge bg-light-blue">400</span> - Light Blue</li>
                <li><span class="badge bg-blue-gray">500</span> - Blue Gray</li>
              </ul>
              <ul class="list-unstyled col-sm-6">
                <li><span class="badge bg-cyan">600</span> - Cyan</li>
                <li><span class="badge bg-teal">700</span> - Teal</li>
                <li><span class="badge bg-brown">800</span> - Brown</li>
                <li><span class="badge bg-lime">900</span> - Lime</li>
                <li><span class="badge bg-pink">999</span> - Pink</li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Jumbotron
          </div>
          <div class="panel-body">
            <div class="jumbotron"><h1>Hello, world!</h1>
              <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
                content or information.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Toastr <small>http://codeseven.github.io/toastr/</small></h5>
          </div>
          <div class="panel-body">
            test
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
