{% extends "base.html" %}
{% block content %}
  <div class="col-lg-12 page-heading bg-white">
    <h2>Panels</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">UI Elements</a>
      </li>
      <li>Panels</li>
    </ol>
  </div>

  <div class="content">
    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Bootstrap Panels
          </div>
          <div class="panel-body">

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  Panel with no heading.<br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos ea esse eum fugiat iusto, minima repellat rerum. Accusantium animi aut dignissimos eius facere harum ipsam odit qui quos reiciendis.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Panel with title</h3>
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur deserunt dicta ea eos error eveniet fuga fugit id, labore, mollitia neque nesciunt praesentium quas quod sed sit tempora tenetur.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Default Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur deserunt dicta ea eos error eveniet fuga fugit id, labore, mollitia neque nesciunt praesentium quas quod sed sit tempora tenetur.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  Primary Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-success">
                <div class="panel-heading">
                  Success Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <i class="fa fa-fw fa-info"></i> Info Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <i class="fa fa-fw fa-warning"></i> Warning Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <i class="fa fa-fw fa-warning"></i> Danger Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Panel with footer
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
                <div class="panel-footer">
                  Footer text
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Additional Panels
          </div>
          <div class="panel-body">

            <div class="col-md-4">
              <div class="panel panel-deep-purple">
                <div class="panel-heading">
                  Deep Purple Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-deep-orange">
                <div class="panel-heading">
                  Deep Orange Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-blue">
                <div class="panel-heading">
                  Blue Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-blue-gray">
                <div class="panel-heading">
                  Blue Gray Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-light-blue">
                <div class="panel-heading">
                  Light Blue Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-cyan">
                <div class="panel-heading">
                  Cyan Panel
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Custom Panels
          </div>
          <div class="panel-body">

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading bg-white">
                  bg-white Heading
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading bg-deep-purple">
                  bg-deep-purple Heading
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading bg-deep-orange">
                  bg-deep-orange Heading
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium atque cum cupiditate deleniti, eligendi eum hic iste laudantium maxime necessitatibus, nihil nostrum quia sapiente sit tempore totam voluptate voluptatibus.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
