{% extends "base.html" %}
{% block content %}
  <div class="panel page-heading">
    <h2>Basic Tables</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Tables</a>
      </li>
      <li>Basic Tables</li>
    </ol>
  </div>

  <div class="content">

    <div class="row">
      <div class="col-md-6">

        <div class="panel panel-default data-panel">
          <div class="panel-heading">Table</div>

          <div class="panel-body">

            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Table Striped
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Table Bordered
          </div>
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td rowspan="2">1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@TwBootstrap</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Table Condensed
          </div>
          <div class="panel-body">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>

    <div class="row">


      <div class="col-md-6">
        <div class="panel panel-default">

          <div class="panel-heading">
            Table Condensed
          </div>
          <div class="panel-body">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">


        <div class="panel panel-default data-panel">
          <div class="panel-heading">
            Table Striped
          </div>
          <div class="panel-body">

            <h4>.table .table-striped</h4>

            <table class="table table-striped">
              <thead>
              <tr>
                <th class="action-checkbox-column">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </th>
                <th>First Name</th>
                <th>Last name</th>
                <th>User Name</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel panel-heading">
            Table Condensed
          </div>
          <div class="panel-body">

            <table class="table table-condensed">
              <thead>
              <tr>
                <th class="action-checkbox-column">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </th>
                <th>First Name</th>
                <th>Last name</th>
                <th>User Name</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Table Bordered
          </div>
          <div class="panel-body">

            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="action-checkbox-column">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </th>
                <th>First Name</th>
                <th>Last name</th>
                <th>User Name</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Table Bordered + Hover + Selection
          </div>

          <div class="panel-body">

            <table class="table table-bordered table-hover table-selection">
              <thead>
              <tr>
                <th class="action-checkbox-column">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </th>
                <th>First Name</th>
                <th>Last name</th>
                <th>User Name</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Contextual classes
          </div>
          <div class="panel-body">

            <table class="table table-hover">
              <thead>
              <tr>
                <th class="action-checkbox-column">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </th>
                <th>Column heading</th>
                <th>Column heading</th>
                <th>Column heading</th>
              </tr>
              </thead>
              <tbody>
              <tr class="active">
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="success">
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="warning">
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="danger">
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="info">
                <td class="action-checkbox">
                  <label class="checkbox">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block startup_code %}
  <script>
    $('.action-checkbox input').change(function () {
      if (this.checked) $(this).closest('tr').addClass('selected');
      else $(this).closest('tr').removeClass('selected');
    });
  </script>
{% endblock %}