{% extends "base.html" %}
{% block content %}
  <div class="col-lg-12 page-heading bg-white">
    <h2>Wells</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">UI Elements</a>
      </li>
      <li>Wells</li>
    </ol>
  </div>

  <div class="content">
    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Wells
          </div>
          <div class="panel-body">

            <div class="col-md-4">
              <div class="well">
                <h4>Look, I'm in a well!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="well wll-lg">
                <h4>Look, I'm in a large well!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="well well-sm">
                <h4>Look, I'm in a small well!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
              <div class="well bg-deep-purple">
                <h4>Well with a deep purple background</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="well bg-deep-orange">
                <h4>Well with a deep orange background</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="well bg-blue-gray">
                <h4>Well with a blue gray background</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="well bg-light-blue">
                <h4>Well with a light blue background</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="well bg-green">
                <h4>Well with a green background</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="well bg-red">
                <h4>Well with a red background</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error, facilis labore minus nobis rerum. Aspernatur autem, doloremque dolorum esse, laborum minima nam numquam officiis possimus provident quaerat sit soluta!</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
